<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Série</th>
      <th>Titre</th>
      <th>Tome</th>
      <th>Scénariste</th>
      <th>Dessinateur</th>
      <th>Éditeur</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Serie</td>
      <td>Titre</td>
      <td>Tome</td>
      <td>Scenariste</td>
      <td>Dessinateur</td>
      <td>Editeur</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Achille Talon</td>
      <td>Le roi des zôtres</td>
      <td>17</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Achille Talon</td>
      <td>Les idées d'Achille Talon, cerveau choc !</td>
      <td>1</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Achille Talon</td>
      <td>Achille Talon aggrave son cas</td>
      <td>2</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Achille Talon</td>
      <td>L'indispensable Achille Talon</td>
      <td>5</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Achille Talon</td>
      <td>Achille Talon au pouvoir</td>
      <td>6</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Achille Talon</td>
      <td>Les petits desseins d'Achille Talon</td>
      <td>9</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Achille Talon</td>
      <td>Le roi de la science-diction</td>
      <td>10</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Achille Talon</td>
      <td>Brave et honnête Achille Talon</td>
      <td>11</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Achille Talon</td>
      <td>Achille Talon et le grain de la folie</td>
      <td>19</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Achille Talon</td>
      <td>Ma vie à moi</td>
      <td>21</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Achille Talon</td>
      <td>L'insubmersible Achille Talon</td>
      <td>28</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Achille Talon</td>
      <td>La loi du bidouble</td>
      <td>29</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Achille Talon</td>
      <td>Il n'y a (dieu merci) qu'un seul Achille Talon</td>
      <td>31</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Achille Talon</td>
      <td>La traversée du disert</td>
      <td>NaN</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Achille Talon (Publicité)</td>
      <td>Achille Talon vous salue bien</td>
      <td>NaN</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Shell</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 14</td>
      <td>14</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 13</td>
      <td>13</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 12</td>
      <td>12</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 9</td>
      <td>9</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 8</td>
      <td>8</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 6</td>
      <td>6</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 5</td>
      <td>5</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Achille Talon - Mon oeuvre à moi ! (L'intégrale)</td>
      <td>Intégrale Achille Talon, Tome 3</td>
      <td>3</td>
      <td>Greg</td>
      <td>Greg</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Alix</td>
      <td>Le démon du Pharos</td>
      <td>27</td>
      <td>Martin, Jacques</td>
      <td>Simon, Christophe</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Alix</td>
      <td>L'Ibère</td>
      <td>26</td>
      <td>Martin, Jacques</td>
      <td>Simon, Christophe</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Alix</td>
      <td>Vercingétorix</td>
      <td>18</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Alix</td>
      <td>La tour de Babel</td>
      <td>16</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Alix</td>
      <td>L'enfant grec</td>
      <td>15</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Alix</td>
      <td>Les proies du volcan</td>
      <td>14</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Alix</td>
      <td>Iorix le Grand</td>
      <td>10</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Alix</td>
      <td>La griffe noire</td>
      <td>5</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Alix</td>
      <td>Le sphinx d'or</td>
      <td>2</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Alix</td>
      <td>Le spectre de Carthage</td>
      <td>13</td>
      <td>Martin, Jacques</td>
      <td>Martin, Jacques</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Bec-en-Fer</td>
      <td>Le complot de Bec-en-Fer</td>
      <td>1</td>
      <td>Pesch, Jean-Louis</td>
      <td>Pesch, Jean-Louis</td>
      <td>Fleurus</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Blake et Mortimer</td>
      <td>Les sarcophages du 6e continent, Tome 1</td>
      <td>16</td>
      <td>Sente, Yves</td>
      <td>Juillard, André</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Blake et Mortimer</td>
      <td>S.O.S. Météores</td>
      <td>8</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Blake et Mortimer</td>
      <td>L'étrange rendez-vous</td>
      <td>15</td>
      <td>Van Hamme, Jean</td>
      <td>Benoit, Ted</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Blake et Mortimer</td>
      <td>L'affaire du collier</td>
      <td>10</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>39</th>
      <td>Blake et Mortimer</td>
      <td>La malédiction des trente deniers, Tome 1 (Le manuscrit de Nicodémus)</td>
      <td>19</td>
      <td>Van Hamme, Jean</td>
      <td>Sterne</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Blake et Mortimer</td>
      <td>La malédiction des trente deniers, Tome 2 (La porte d'Orphée)</td>
      <td>20</td>
      <td>Van Hamme, Jean</td>
      <td>Aubin</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Blake et Mortimer</td>
      <td>Le serment des cinq lords</td>
      <td>21</td>
      <td>Sente, Yves</td>
      <td>Juillard, André</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Blake et Mortimer</td>
      <td>La machination Voronov</td>
      <td>14</td>
      <td>Sente, Yves</td>
      <td>Juillard, André</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Blake et Mortimer</td>
      <td>Les sarcophages du 6e continent, Tome 2</td>
      <td>17</td>
      <td>Sente, Yves</td>
      <td>Juillard, André</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Blake et Mortimer</td>
      <td>Les 3 formules du professeur Sato, Tome 2</td>
      <td>12</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>De Moor, Bob</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Blake et Mortimer</td>
      <td>La vallée des immortels</td>
      <td>26</td>
      <td>Sente, Yves</td>
      <td>Berserik, Teun et Van Dongen, Peter</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Blake et Mortimer</td>
      <td>Le secret de l'espadon, Tome 1</td>
      <td>1</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Blake et Mortimer</td>
      <td>L'énigme de l'Atlantide</td>
      <td>7</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Blake et Mortimer</td>
      <td>Les 3 formules du professeur Sato, Tome 1</td>
      <td>11</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Blake et Mortimer</td>
      <td>Le testament de William S.</td>
      <td>24</td>
      <td>Sente, Yves</td>
      <td>Juillard, André</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Blake et Mortimer</td>
      <td>La marque jaune</td>
      <td>6</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Blake et Mortimer</td>
      <td>Le mystère de la grande Pyramide, Tome 2</td>
      <td>5</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Blake et Mortimer</td>
      <td>La vallée des immortels</td>
      <td>25</td>
      <td>Sente, Yves</td>
      <td>Berserik, Teun et Van Dongen, Peter</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Blake et Mortimer</td>
      <td>Le bâton de Plutarque</td>
      <td>23</td>
      <td>Sente, Yves</td>
      <td>Juillard, André</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Blake et Mortimer</td>
      <td>Le secret de l'espadon, Tome 2</td>
      <td>2</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Blake et Mortimer</td>
      <td>Le mystère de la grande Pyramide, Tome 1</td>
      <td>4</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Blake et Mortimer</td>
      <td>Le secret de l'espadon, Tome 3</td>
      <td>3</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Jacobs, Edgar Pierre</td>
      <td>Blake &amp; Mortimer</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Boule et Bill</td>
      <td>Boule et Bill</td>
      <td>3</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Boule et Bill</td>
      <td>Boule et Bill</td>
      <td>24</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Boule et Bill</td>
      <td>Tu te rappelles, Bill ?</td>
      <td>6</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Boule et Bill</td>
      <td>Souvenirs de famille</td>
      <td>8</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>61</th>
      <td>Boule et Bill</td>
      <td>Une vie de chien</td>
      <td>14</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>62</th>
      <td>Boule et Bill</td>
      <td>Ce coquin de cocker</td>
      <td>12</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>63</th>
      <td>Boule et Bill</td>
      <td>60 gags de Boule et Bill</td>
      <td>6</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>64</th>
      <td>Boule et Bill</td>
      <td>Attention chien marrant</td>
      <td>10</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>65</th>
      <td>Boule et Bill</td>
      <td>Les V'la</td>
      <td>25</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>66</th>
      <td>Boule et Bill</td>
      <td>Strip-Cocker</td>
      <td>20</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>67</th>
      <td>Boule et Bill</td>
      <td>Boule et Bill globe-trotters</td>
      <td>19</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>68</th>
      <td>Boule et Bill</td>
      <td>Jeux de Bill</td>
      <td>11</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>69</th>
      <td>Boule et Bill</td>
      <td>Bill nom d'un chien</td>
      <td>15</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>70</th>
      <td>Boule et Bill</td>
      <td>60 gags de Boule et Bill</td>
      <td>3</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>71</th>
      <td>Boule et Bill (Hors-série)</td>
      <td>Best of - En vadrouille</td>
      <td>NaN</td>
      <td>Roba, Jean</td>
      <td>Roba, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>72</th>
      <td>Carmen Cru</td>
      <td>Une cervelle de plombs dans un crâne de béton</td>
      <td>7</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>73</th>
      <td>Carmen Cru</td>
      <td>L'écorchée vive</td>
      <td>5</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>74</th>
      <td>Carmen Cru</td>
      <td>Ni dieu ni maître</td>
      <td>4</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>75</th>
      <td>Carmen Cru</td>
      <td>Vie et moeurs</td>
      <td>3</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>76</th>
      <td>Carmen Cru</td>
      <td>La dame de fer</td>
      <td>2</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>77</th>
      <td>Carmen Cru</td>
      <td>Rencontre du 3ème âge</td>
      <td>1</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>France Loisirs</td>
    </tr>
    <tr>
      <th>78</th>
      <td>Carmen Cru</td>
      <td>Carmen Cru et autres histoires</td>
      <td>6</td>
      <td>Lelong, Jean-Marc</td>
      <td>Lelong, Jean-Marc</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>79</th>
      <td>Cubitus</td>
      <td>Cubitus chien sans accroc</td>
      <td>25</td>
      <td>Dupa</td>
      <td>Dupa</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>80</th>
      <td>Cubitus</td>
      <td>L'ami ne fait pas le moine…</td>
      <td>9</td>
      <td>Dupa</td>
      <td>Dupa</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>81</th>
      <td>Cédric</td>
      <td>C'est quand qu'on part ?</td>
      <td>27</td>
      <td>Laudec</td>
      <td>Cauvin, Raoul</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>82</th>
      <td>Cédric</td>
      <td>Graine de star</td>
      <td>26</td>
      <td>Cauvin, Raoul</td>
      <td>Laudec</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>83</th>
      <td>Cédric</td>
      <td>Où sont les freins ?</td>
      <td>16</td>
      <td>Cauvin, Raoul</td>
      <td>Laudec</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>84</th>
      <td>Economix</td>
      <td>Economix</td>
      <td>NaN</td>
      <td>Goodwin, Michael</td>
      <td>Burr, Dan</td>
      <td>Les arènes</td>
    </tr>
    <tr>
      <th>85</th>
      <td>Edmond chasseur de Darou</td>
      <td>Edmond chasseur de Darou</td>
      <td>1</td>
      <td>Chopat, Stéphane</td>
      <td>Lagueny, Franck</td>
      <td>C. Chopat</td>
    </tr>
    <tr>
      <th>86</th>
      <td>Frnck</td>
      <td>Le début du commencement</td>
      <td>1</td>
      <td>Olivier Bocquet</td>
      <td>Brice Cossu</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>87</th>
      <td>Frnck</td>
      <td>Le baptême du feu</td>
      <td>2</td>
      <td>Olivier Bocquet</td>
      <td>Brice Cossu</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>88</th>
      <td>GKND</td>
      <td>Rencontre du troisième type</td>
      <td>1</td>
      <td>Gee</td>
      <td>Gee</td>
      <td>Framabook</td>
    </tr>
    <tr>
      <th>89</th>
      <td>GKND</td>
      <td>How I met your sysadmin</td>
      <td>5</td>
      <td>Gee</td>
      <td>Gee</td>
      <td>Framabook</td>
    </tr>
    <tr>
      <th>90</th>
      <td>GKND</td>
      <td>Au temps pour moi</td>
      <td>4</td>
      <td>Gee</td>
      <td>Gee</td>
      <td>Framabook</td>
    </tr>
    <tr>
      <th>91</th>
      <td>GKND</td>
      <td>Licence de la vie</td>
      <td>3</td>
      <td>Gee</td>
      <td>Gee</td>
      <td>Framabook</td>
    </tr>
    <tr>
      <th>92</th>
      <td>GKND</td>
      <td>Le GNU du risque</td>
      <td>2</td>
      <td>Gee</td>
      <td>Gee</td>
      <td>Framabook</td>
    </tr>
    <tr>
      <th>93</th>
      <td>Game Over</td>
      <td>Toxic affair</td>
      <td>13</td>
      <td>Adam</td>
      <td>Midam</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>94</th>
      <td>Game Over</td>
      <td>Very bad trip</td>
      <td>15</td>
      <td>Midam</td>
      <td>Adam</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>95</th>
      <td>Game Over</td>
      <td>Blork Raider</td>
      <td>1</td>
      <td>Collectif</td>
      <td>Midam</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>96</th>
      <td>Game Over</td>
      <td>No problemo</td>
      <td>2</td>
      <td>Collectif</td>
      <td>Midam</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>97</th>
      <td>Gargouilles</td>
      <td>Le Voyageur</td>
      <td>1</td>
      <td>Filippi, Denis-Pierre</td>
      <td>Jung, Etienne</td>
      <td>Les Humanoïdes Associés</td>
    </tr>
    <tr>
      <th>98</th>
      <td>Gaston Lagaffe</td>
      <td>Faites gaffe à Lagaffe</td>
      <td>19</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Marsu Productions</td>
    </tr>
    <tr>
      <th>99</th>
      <td>Gaston Lagaffe</td>
      <td>Un gaffeur sachant gaffer</td>
      <td>7</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>100</th>
      <td>Gaston Lagaffe</td>
      <td>De gaffes en pire</td>
      <td>13</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>J'ai lu</td>
    </tr>
    <tr>
      <th>101</th>
      <td>Gaston Lagaffe</td>
      <td>Des gaffes et des dégâts</td>
      <td>6</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>102</th>
      <td>Gaston Lagaffe</td>
      <td>En direct de la gaffe</td>
      <td>4</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>103</th>
      <td>Gaston Lagaffe</td>
      <td>Gare aux gaffes du gars gonflé</td>
      <td>3</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>104</th>
      <td>Gaston Lagaffe</td>
      <td>Le bureau des gaffes en gros</td>
      <td>2</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>105</th>
      <td>Gaston Lagaffe</td>
      <td>Gala de gaffes à gogo</td>
      <td>1</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>106</th>
      <td>Gaston Lagaffe</td>
      <td>Gaffes et gadgets</td>
      <td>0</td>
      <td>Delporte, Yvan</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>107</th>
      <td>Gaston Lagaffe</td>
      <td>Gaffes en pagaille</td>
      <td>18</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Marsu Productions</td>
    </tr>
    <tr>
      <th>108</th>
      <td>Gaston Lagaffe</td>
      <td>Gaston Lagaffe, Tome 19</td>
      <td>19</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Marsu Productions</td>
    </tr>
    <tr>
      <th>109</th>
      <td>Gaston Lagaffe</td>
      <td>Le lourd passé de Lagaffe</td>
      <td>5</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>110</th>
      <td>Gaston Lagaffe</td>
      <td>La saga des gaffes</td>
      <td>14</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>111</th>
      <td>Gaston Lagaffe</td>
      <td>Lagaffe mérite des baffes</td>
      <td>13</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>112</th>
      <td>Gaston Lagaffe</td>
      <td>Le gang des gaffeurs</td>
      <td>12</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>113</th>
      <td>Gaston Lagaffe</td>
      <td>Gaffes, bévues et boulettes</td>
      <td>11</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>114</th>
      <td>Gaston Lagaffe</td>
      <td>Le géant de la gaffe</td>
      <td>10</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>115</th>
      <td>Gaston Lagaffe</td>
      <td>Le cas Lagaffe</td>
      <td>9</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>116</th>
      <td>Gaston Lagaffe</td>
      <td>Le cas Lagaffe</td>
      <td>9</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>117</th>
      <td>Gaston Lagaffe</td>
      <td>Lagaffe nous gâte</td>
      <td>8</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>118</th>
      <td>Gaston Lagaffe</td>
      <td>Gaston Lagaffe, Tome 14</td>
      <td>14</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>119</th>
      <td>Grise Bouille</td>
      <td>Grise Bouille, Tome 1</td>
      <td>1</td>
      <td>Gee</td>
      <td>Gee</td>
      <td>Framabook</td>
    </tr>
    <tr>
      <th>120</th>
      <td>Gros Dégueulasse</td>
      <td>Gros dégueulasse</td>
      <td>0</td>
      <td>Reiser, Jean-Marc</td>
      <td>Reiser, Jean-Marc</td>
      <td>Albin Michel</td>
    </tr>
    <tr>
      <th>121</th>
      <td>HP &amp; Giuseppe Bergman</td>
      <td>Jour de colère</td>
      <td>2</td>
      <td>Manara, Milo</td>
      <td>Manara, Milo</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>122</th>
      <td>Histoire de la ligne Maginot</td>
      <td>Histoire de la ligne Maginot</td>
      <td>NaN</td>
      <td>Halter, Marc</td>
      <td>Chin, Brian B.</td>
      <td>Moselle River</td>
    </tr>
    <tr>
      <th>123</th>
      <td>Idées noires</td>
      <td>Idées noires, Tome 1</td>
      <td>1</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>124</th>
      <td>Jean-Claude Tergal</td>
      <td>présente ses pires amis</td>
      <td>3</td>
      <td>Tronchet, Didier</td>
      <td>Tronchet, Didier</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>125</th>
      <td>Jhen</td>
      <td>La cathédrale</td>
      <td>5</td>
      <td>Martin, Jacques</td>
      <td>Pleyers, Jean</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>126</th>
      <td>Jhen</td>
      <td>Le lys et l'ogre</td>
      <td>6</td>
      <td>Martin, Jacques</td>
      <td>Pleyers, Jean</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>127</th>
      <td>Jhen</td>
      <td>L'alchimiste</td>
      <td>5</td>
      <td>Jacques Martin</td>
      <td>Jean Pleyers</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>128</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 1</td>
      <td>1</td>
      <td>Bar2</td>
      <td>Bar2</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>129</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 2</td>
      <td>2</td>
      <td>Fane</td>
      <td>Fane</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>130</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 3</td>
      <td>3</td>
      <td>Fane</td>
      <td>Fane</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>131</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 5</td>
      <td>5</td>
      <td>Bar2</td>
      <td>Bar2</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>132</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 6</td>
      <td>6</td>
      <td>Fane</td>
      <td>Fane</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>133</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 7</td>
      <td>7</td>
      <td>Perna, Patrice</td>
      <td>Jenfèvre, Henri</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>134</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 8</td>
      <td>8</td>
      <td>Fane</td>
      <td>Fane</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>135</th>
      <td>Joe Bar Team</td>
      <td>Joe Bar Team, Tome 4</td>
      <td>4</td>
      <td>Fane</td>
      <td>Fane</td>
      <td>Vents d'Ouest</td>
    </tr>
    <tr>
      <th>136</th>
      <td>Johan et Pirlouit</td>
      <td>La horde du corbeau</td>
      <td>14</td>
      <td>Delporte, Yvan</td>
      <td>Maury, Alain</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>137</th>
      <td>Kador</td>
      <td>Kador, Tome 2</td>
      <td>2</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>138</th>
      <td>Kador</td>
      <td>Kador, Tome 3</td>
      <td>3</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>139</th>
      <td>Kador</td>
      <td>Kador, Tome 4</td>
      <td>4</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>140</th>
      <td>Kid Lucky</td>
      <td>Kid Lucky</td>
      <td>1</td>
      <td>Léturgie, Simon</td>
      <td>Pearce</td>
      <td>Lucky productions</td>
    </tr>
    <tr>
      <th>141</th>
      <td>L'agent 212</td>
      <td>Ronde de nuit</td>
      <td>6</td>
      <td>Cauvin, Raoul</td>
      <td>Kox, Daniel</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>142</th>
      <td>L'agent 212</td>
      <td>Un flic à l'ombre</td>
      <td>7</td>
      <td>Cauvin, Raoul</td>
      <td>Kox, Daniel</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>143</th>
      <td>L'institution</td>
      <td>L'institution</td>
      <td>NaN</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>144</th>
      <td>L'univers des Schtroumpfs</td>
      <td>Noël chez les Schtroumpfs</td>
      <td>2</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>145</th>
      <td>L'univers des Schtroumpfs</td>
      <td>Gargamel et les Schtroumpfs</td>
      <td>1</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>146</th>
      <td>Lanfeust de Troy</td>
      <td>Le frisson de l'Haruspice</td>
      <td>5</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>147</th>
      <td>Lanfeust de Troy</td>
      <td>Le paladin d'Eckmül</td>
      <td>4</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>148</th>
      <td>Lanfeust de Troy</td>
      <td>Thanos l'incongru</td>
      <td>2</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>149</th>
      <td>Lanfeust de Troy</td>
      <td>Les pétaures se cachent pour mourir</td>
      <td>7</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>150</th>
      <td>Lanfeust de Troy</td>
      <td>L'ivoire du Magohamoth</td>
      <td>1</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>151</th>
      <td>Lanfeust de Troy</td>
      <td>Castel Or-Azur</td>
      <td>3</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>152</th>
      <td>Lanfeust de Troy</td>
      <td>La bête fabuleuse</td>
      <td>8</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>153</th>
      <td>Lanfeust de Troy</td>
      <td>Cixi impératrice</td>
      <td>6</td>
      <td>Arleston, Christophe</td>
      <td>Tarquin, Didier</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>154</th>
      <td>Le dernier troyen</td>
      <td>Intégrale Le dernier troyen</td>
      <td>1-6</td>
      <td>Mangin, Valérie</td>
      <td>Démarez, Thierry</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>155</th>
      <td>Le génie des alpages</td>
      <td>Les intondables</td>
      <td>5</td>
      <td>Fmurr</td>
      <td>Fmurr</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>156</th>
      <td>Le génie des alpages</td>
      <td>Le génie des alpages</td>
      <td>1</td>
      <td>Fmurr</td>
      <td>Fmurr</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>157</th>
      <td>Le génie des alpages</td>
      <td>Barre-toi de mon herbe</td>
      <td>3</td>
      <td>Fmurr</td>
      <td>Fmurr</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>158</th>
      <td>Le petit Spirou</td>
      <td>Mais ! qu'est-ce que tu fabriques ?</td>
      <td>3</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Le petit Spirou</td>
      <td>C'est pas de ton âge !</td>
      <td>9</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>160</th>
      <td>Le petit Spirou</td>
      <td>Tu comprendras quand tu s'ras grand !</td>
      <td>10</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>161</th>
      <td>Le petit Spirou</td>
      <td>Fais de beaux rêves !</td>
      <td>13</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>162</th>
      <td>Le petit Spirou</td>
      <td>Tu ne s'ras jamais grand !</td>
      <td>11</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>163</th>
      <td>Lefranc</td>
      <td>Mission Antarctique</td>
      <td>26</td>
      <td>Corteggiani, François</td>
      <td>Alves, Christophe</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>164</th>
      <td>Les 7 vies de l'Épervier</td>
      <td>Intégrale 7 vies de l'Épervier</td>
      <td>1-7</td>
      <td>Cothias, Patrick</td>
      <td>Juillard, André</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>165</th>
      <td>Les Bidochon</td>
      <td>Les Bidochon relancent leur couple</td>
      <td>22</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>166</th>
      <td>Les Bidochon</td>
      <td>Les Bidochon, assujettis sociaux</td>
      <td>7</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>167</th>
      <td>Les Bidochon</td>
      <td>Usagers de la route</td>
      <td>10</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>168</th>
      <td>Les Bidochon</td>
      <td>Matin, midi et soir suivi de matin, midi et soir</td>
      <td>11</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>169</th>
      <td>Les Bidochon</td>
      <td>Téléspectateurs</td>
      <td>12</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>170</th>
      <td>Les Bidochon</td>
      <td>La vie de mariage</td>
      <td>13</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>171</th>
      <td>Les Bidochon</td>
      <td>Les Bidochon usent le forfait</td>
      <td>17</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>172</th>
      <td>Les Bidochon</td>
      <td>Les Bidochon voient tout, savent tout</td>
      <td>18</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>173</th>
      <td>Les Bidochon</td>
      <td>Les Bidochon internautes</td>
      <td>19</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>174</th>
      <td>Les Bidochon</td>
      <td>Les Bidochon sauvent la planète</td>
      <td>21</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>175</th>
      <td>Les Bidochon</td>
      <td>Vent du soir</td>
      <td>8</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>176</th>
      <td>Les Bidochon (France Loisirs)</td>
      <td>En habitation à loyer modéré / Maison,sucrée maison</td>
      <td>2</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>France Loisirs</td>
    </tr>
    <tr>
      <th>177</th>
      <td>Les Campbell</td>
      <td>Les trois malédictions</td>
      <td>5</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>178</th>
      <td>Les Campbell</td>
      <td>L'or de San Brandamo</td>
      <td>4</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>179</th>
      <td>Les Campbell</td>
      <td>Kidnappé !</td>
      <td>3</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>180</th>
      <td>Les Campbell</td>
      <td>Le redoutable pirate Morgan</td>
      <td>2</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>181</th>
      <td>Les Campbell</td>
      <td>Inferno</td>
      <td>1</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>182</th>
      <td>Les Femmes en blanc</td>
      <td>Six foies neufs</td>
      <td>8</td>
      <td>Cauvin, Raoul</td>
      <td>Bercovici, Philippe</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>183</th>
      <td>Les Hôpitaux Universitaires de Strasbourg</td>
      <td>Treize siècles d'innovation et de soins</td>
      <td>NaN</td>
      <td>Kempf, Nicolas</td>
      <td>Carmona, Christophe</td>
      <td>Éditions du Signe</td>
    </tr>
    <tr>
      <th>184</th>
      <td>Les Schtroumpfs</td>
      <td>Le cosmoschtroumpf</td>
      <td>6</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>185</th>
      <td>Les Schtroumpfs</td>
      <td>Le schtroumpf financier</td>
      <td>16</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>186</th>
      <td>Les Schtroumpfs</td>
      <td>L'aéroschtroumpf</td>
      <td>14</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>187</th>
      <td>Les Schtroumpfs</td>
      <td>Les p'tits schtroumpfs</td>
      <td>13</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>188</th>
      <td>Les Schtroumpfs</td>
      <td>La soupe aux schtroumpfs</td>
      <td>10</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>189</th>
      <td>Les Schtroumpfs</td>
      <td>Les schtroumpfs et le cracoucass</td>
      <td>5</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>190</th>
      <td>Les Schtroumpfs</td>
      <td>On ne schtroumpfe pas le progrès</td>
      <td>21</td>
      <td>Culliford, Thierry</td>
      <td>Garray, Pascal</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>191</th>
      <td>Les Schtroumpfs</td>
      <td>L'oeuf et les schtroumpfs</td>
      <td>4</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>192</th>
      <td>Les Schtroumpfs</td>
      <td>Le schtroumpfissime</td>
      <td>2</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>193</th>
      <td>Les Schtroumpfs</td>
      <td>Les schtroumpfs noirs</td>
      <td>1</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>194</th>
      <td>Les Schtroumpfs</td>
      <td>L'apprenti schtroumpf</td>
      <td>7</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>195</th>
      <td>Les Schtroumpfs</td>
      <td>Les Schtroumpfs et l'arbre d'or</td>
      <td>29</td>
      <td>Jost, Alain</td>
      <td>Garray, Pascal</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>196</th>
      <td>Les Schtroumpfs</td>
      <td>L'étrange réveil du Schtroumpf paresseux</td>
      <td>15</td>
      <td>Peyo</td>
      <td>Peyo</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>197</th>
      <td>Les Schtroumpfs</td>
      <td>Schtroumpf le héros</td>
      <td>33</td>
      <td>Culliford, Thierry</td>
      <td>De Coninck, Jeroen</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>198</th>
      <td>Les Schtroumpfs</td>
      <td>Les Schtroumpfs et les haricots mauves</td>
      <td>35</td>
      <td>Culliford, Thierry</td>
      <td>Garray, Pascal</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>199</th>
      <td>Les Schtroumpfs</td>
      <td>Les Schtroumpfs de l'ordre</td>
      <td>30</td>
      <td>Jost, Alain</td>
      <td>Garray, Pascal</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>200</th>
      <td>Les aventures de Flip</td>
      <td>Skateboard et Vahinés</td>
      <td>1</td>
      <td>Navarro, Morgan</td>
      <td>Navarro, Morgan</td>
      <td>Gallimard</td>
    </tr>
    <tr>
      <th>201</th>
      <td>Les enfants de la résistance</td>
      <td>Premières répressions</td>
      <td>2</td>
      <td>Dugomier</td>
      <td>Ers, Benoît</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>202</th>
      <td>Les enfants de la résistance</td>
      <td>Le pays divisé</td>
      <td>5</td>
      <td>Dugomier</td>
      <td>Ers, Benoît</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>203</th>
      <td>Les enfants de la résistance</td>
      <td>Les deux géants</td>
      <td>3</td>
      <td>Dugomier</td>
      <td>Ers, Benoît</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>204</th>
      <td>Les enfants de la résistance</td>
      <td>Premières actions</td>
      <td>1</td>
      <td>Dugomier</td>
      <td>Ers, Benoît</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>205</th>
      <td>Les enfants de la résistance</td>
      <td>L'escalade</td>
      <td>4</td>
      <td>Dugomier</td>
      <td>Ers, Benoît</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>206</th>
      <td>Les forêts d'Opale</td>
      <td>Le bracelet de Cohars</td>
      <td>1</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>207</th>
      <td>Les forêts d'Opale</td>
      <td>L'envers du grimoire</td>
      <td>2</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>208</th>
      <td>Les forêts d'Opale</td>
      <td>La cicatrice verte</td>
      <td>3</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>209</th>
      <td>Les forêts d'Opale</td>
      <td>Les geôles de Nénuphe</td>
      <td>4</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>210</th>
      <td>Les forêts d'Opale</td>
      <td>Le sortilège du pontife</td>
      <td>6</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>211</th>
      <td>Les forêts d'Opale</td>
      <td>Un flot de lumière</td>
      <td>9</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>212</th>
      <td>Les forêts d'Opale</td>
      <td>Les hordes de la nuit</td>
      <td>8</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>213</th>
      <td>Les forêts d'Opale</td>
      <td>Les dents de pierre</td>
      <td>7</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>214</th>
      <td>Les forêts d'Opale</td>
      <td>Onze racines</td>
      <td>5</td>
      <td>Arleston, Christophe</td>
      <td>Pellet, Philippe</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>215</th>
      <td>Les histoires vosgiennes de Claude Vanony</td>
      <td>L'enterrement du Nonon Batisse</td>
      <td>1</td>
      <td>Vanony, Claude</td>
      <td>Chopat, Stéphane</td>
      <td>C. Chopat</td>
    </tr>
    <tr>
      <th>216</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Intégrale Les naufragés d'Ythaq, Tomes 4 à 6</td>
      <td>2</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>217</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Le soupir des étoiles</td>
      <td>3</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>218</th>
      <td>Les naufragés d'Ythaq</td>
      <td>La marque des Ythes</td>
      <td>7</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>219</th>
      <td>Les naufragés d'Ythaq</td>
      <td>L'impossible vérité</td>
      <td>9</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>220</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Ophyde la géminée</td>
      <td>2</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>221</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Le miroir des mensonges</td>
      <td>8</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>222</th>
      <td>Les naufragés d'Ythaq</td>
      <td>L'haleine de l'ogre</td>
      <td>11</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>223</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Les clefs du néant</td>
      <td>12</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>224</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Glèbe la Singulière</td>
      <td>13</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>225</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Le joyau du génie</td>
      <td>14</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>226</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Imperator Express</td>
      <td>15</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>227</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Terra Incognita</td>
      <td>1</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>228</th>
      <td>Les naufragés d'Ythaq</td>
      <td>Nehorf-Capitol transit</td>
      <td>10</td>
      <td>Arleston, Christophe</td>
      <td>Floch, Adrien</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>229</th>
      <td>Les profs</td>
      <td>Les profs refont l'histoire</td>
      <td>NaN</td>
      <td>Erroc</td>
      <td>Pica</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>230</th>
      <td>Les profs</td>
      <td>Best-or : la salle des profs</td>
      <td>NaN</td>
      <td>Erroc</td>
      <td>Pica</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>231</th>
      <td>Les profs</td>
      <td>Devoir surveillé</td>
      <td>13</td>
      <td>Erroc</td>
      <td>Pica</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>232</th>
      <td>Les profs</td>
      <td>Note to be</td>
      <td>19</td>
      <td>Erroc</td>
      <td>Léturgie, Simon</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>233</th>
      <td>Les profs</td>
      <td>Sortie scolaire</td>
      <td>17</td>
      <td>Erroc</td>
      <td>Pica</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>234</th>
      <td>Les profs</td>
      <td>Rentrée des artistes</td>
      <td>4</td>
      <td>Erroc</td>
      <td>Pica</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Les profs</td>
      <td>Interro surprise</td>
      <td>1</td>
      <td>Erroc</td>
      <td>Pica</td>
      <td>Bamboo Éditions</td>
    </tr>
    <tr>
      <th>236</th>
      <td>Les survivants de l'Atlantique</td>
      <td>Intégrale 7-8-9</td>
      <td>7-9</td>
      <td>Mitton, Jean-Yves</td>
      <td>Molinari, Félix</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>237</th>
      <td>Les survivants de l'Atlantique</td>
      <td>Intégrale 4-5-6</td>
      <td>4-6</td>
      <td>Mitton, Jean-Yves</td>
      <td>Molinari, Félix</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>238</th>
      <td>Les survivants de l'Atlantique</td>
      <td>Intégrale 1-2-3</td>
      <td>1-3</td>
      <td>Mitton, Jean-Yves</td>
      <td>Mitton, Jean-Yves</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>239</th>
      <td>Lucien</td>
      <td>Chez Lucien</td>
      <td>4</td>
      <td>Margerin, Frank</td>
      <td>Margerin, Frank</td>
      <td>Les Humanoïdes Associés</td>
    </tr>
    <tr>
      <th>240</th>
      <td>Lucien</td>
      <td>Lulu s'maque / Ricky chez les ricains</td>
      <td>NaN</td>
      <td>Margerin, Frank</td>
      <td>Margerin, Frank</td>
      <td>France Loisirs</td>
    </tr>
    <tr>
      <th>241</th>
      <td>Lucky Luke</td>
      <td>La légende de l'ouest - TL</td>
      <td>70</td>
      <td>Nordmann, Patrick</td>
      <td>Morris</td>
      <td>Lucky Comics</td>
    </tr>
    <tr>
      <th>242</th>
      <td>Lucky Luke</td>
      <td>Dalton city</td>
      <td>34</td>
      <td>Goscinny, René</td>
      <td>Morris</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>243</th>
      <td>Lucky Luke (L'intégrale Dupuis - Lucky comics)</td>
      <td>Intégrale Lucky Luke, Tome 7</td>
      <td>7</td>
      <td>Goscinny, René</td>
      <td>Morris</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>244</th>
      <td>Lucky Luke : les dessous d'une création (Atlas)</td>
      <td>Intégrale Lucky Luke, Tome 24 - L'évasion des Dalton/La ballade des Dalton</td>
      <td>24</td>
      <td>Goscinny, René</td>
      <td>Morris</td>
      <td>Atlas</td>
    </tr>
    <tr>
      <th>245</th>
      <td>Léonard</td>
      <td>La guerre des génies</td>
      <td>10</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>246</th>
      <td>Léonard</td>
      <td>Coup de génie</td>
      <td>8</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>247</th>
      <td>Léonard</td>
      <td>Génie civil</td>
      <td>9</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>248</th>
      <td>Léonard</td>
      <td>Génie en balade</td>
      <td>6</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>249</th>
      <td>Léonard</td>
      <td>Génie à toute heure</td>
      <td>5</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>250</th>
      <td>Léonard</td>
      <td>Hi-Fi génie</td>
      <td>4</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>251</th>
      <td>Léonard</td>
      <td>Léonard est toujours un génie</td>
      <td>2</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>252</th>
      <td>Léonard</td>
      <td>Léonard est un génie</td>
      <td>1</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>253</th>
      <td>Léonard</td>
      <td>Y a-t-il un génie dans la salle ?</td>
      <td>7</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>254</th>
      <td>Léonard</td>
      <td>Léonard c'est un quoi, déjà?</td>
      <td>3</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>255</th>
      <td>Léonard</td>
      <td>Génie du bal</td>
      <td>11</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>256</th>
      <td>Léonard</td>
      <td>Mon papa est un génie</td>
      <td>48</td>
      <td>Zidrou</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>257</th>
      <td>Léonard</td>
      <td>Trait de génie</td>
      <td>12</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>258</th>
      <td>Léonard</td>
      <td>Génie en herbe</td>
      <td>13</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>259</th>
      <td>Léonard</td>
      <td>Génie à revendre</td>
      <td>16</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>260</th>
      <td>Léonard</td>
      <td>Cadeau de génie</td>
      <td>22</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Appro</td>
    </tr>
    <tr>
      <th>261</th>
      <td>Léonard</td>
      <td>Temps de génie</td>
      <td>24</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Appro</td>
    </tr>
    <tr>
      <th>262</th>
      <td>Léonard</td>
      <td>D'où viens-tu, génie ?</td>
      <td>25</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Appro</td>
    </tr>
    <tr>
      <th>263</th>
      <td>Léonard</td>
      <td>Génie toujours... Prêt !</td>
      <td>28</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Appro</td>
    </tr>
    <tr>
      <th>264</th>
      <td>Léonard</td>
      <td>Dodo de génie</td>
      <td>31</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>265</th>
      <td>Léonard</td>
      <td>Le génie donne sa langue au chat</td>
      <td>35</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>266</th>
      <td>Léonard</td>
      <td>Génie militaire</td>
      <td>49</td>
      <td>Zidrou</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>267</th>
      <td>Léonard</td>
      <td>Génie du stop</td>
      <td>41</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>268</th>
      <td>Léonard</td>
      <td>Trésor de génie</td>
      <td>40</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>269</th>
      <td>Léonard</td>
      <td>Super-génie</td>
      <td>43</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>270</th>
      <td>Léonard</td>
      <td>Tour de génie</td>
      <td>44</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>271</th>
      <td>Léonard</td>
      <td>Génie de l'insomnie</td>
      <td>45</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>272</th>
      <td>Léonard</td>
      <td>Le génie crève l'écran</td>
      <td>46</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>273</th>
      <td>Léonard</td>
      <td>Master génie</td>
      <td>47</td>
      <td>Zidrou</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>274</th>
      <td>Léonard</td>
      <td>Le génie des grandeurs</td>
      <td>42</td>
      <td>De Groot, Bob</td>
      <td>Turk</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>275</th>
      <td>Marsupilami</td>
      <td>Mars le noir</td>
      <td>3</td>
      <td>Yann</td>
      <td>Batem</td>
      <td>Marsu Productions</td>
    </tr>
    <tr>
      <th>276</th>
      <td>Michel Vaillant, Saison 2</td>
      <td>Renaissance</td>
      <td>5</td>
      <td>Graton, Philippe</td>
      <td>Graton, Jean</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>277</th>
      <td>Michel Vaillant, Saison 2</td>
      <td>Voltage</td>
      <td>2</td>
      <td>Graton, Philippe</td>
      <td>Bourgne, Marc</td>
      <td>Graton</td>
    </tr>
    <tr>
      <th>278</th>
      <td>Michel Vaillant, Saison 2</td>
      <td>Au nom du fils</td>
      <td>1</td>
      <td>Graton, Philippe</td>
      <td>Bourgne, Marc</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>279</th>
      <td>Monsieur le ministre</td>
      <td>Monsieur le ministre Tome 2</td>
      <td>2</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>280</th>
      <td>Monsieur le ministre</td>
      <td>Monsieur le Ministre Tome 1</td>
      <td>1</td>
      <td>Binet, Christian</td>
      <td>Binet, Christian</td>
      <td>Audie</td>
    </tr>
    <tr>
      <th>281</th>
      <td>Mur païen</td>
      <td>La guerre des Gaules dans les Vosges</td>
      <td>NaN</td>
      <td>Seiter, Roger</td>
      <td>Carmona, Christophe</td>
      <td>La nuée bleue</td>
    </tr>
    <tr>
      <th>282</th>
      <td>Overlord</td>
      <td>Overlord</td>
      <td>NaN</td>
      <td>Saint-Michel, Serge</td>
      <td>Mister Kit</td>
      <td>Orep éditions</td>
    </tr>
    <tr>
      <th>283</th>
      <td>Raoul Cauvin - spécial 70 ans</td>
      <td>Le vieux bleu</td>
      <td>1</td>
      <td>Cauvin, Raoul</td>
      <td>Walthéry, François</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>284</th>
      <td>Rat'S</td>
      <td>En partance pour nulle part</td>
      <td>1</td>
      <td>Ptiluc</td>
      <td>Ptiluc</td>
      <td>Les Humanoïdes Associés</td>
    </tr>
    <tr>
      <th>285</th>
      <td>Retour au collège</td>
      <td>Retour au collège</td>
      <td>NaN</td>
      <td>Sattouf, Riad</td>
      <td>Sattouf, Riad</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>286</th>
      <td>Sherlock Holmes et le Nécronomicon</td>
      <td>L'ennemi intérieur</td>
      <td>1</td>
      <td>Cordurié, Sylvain</td>
      <td>Laci</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>287</th>
      <td>Soeur Marie-Thérèse</td>
      <td>La guère sainte</td>
      <td>6</td>
      <td>Maëster</td>
      <td>Maëster</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>288</th>
      <td>Spirou et Fantasio</td>
      <td>Tembo Tabou</td>
      <td>24</td>
      <td>Greg</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>289</th>
      <td>Spirou et Fantasio</td>
      <td>La mauvaise tête</td>
      <td>8</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>290</th>
      <td>Spirou et Fantasio</td>
      <td>Le nid des Marsupilamis</td>
      <td>12</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>291</th>
      <td>Spirou et Fantasio</td>
      <td>Le voyageur du mésozoïque</td>
      <td>13</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>292</th>
      <td>Spirou et Fantasio</td>
      <td>Z comme Zorglub</td>
      <td>15</td>
      <td>Franquin, André</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>293</th>
      <td>Spirou et Fantasio</td>
      <td>L'ombre du Z</td>
      <td>16</td>
      <td>Greg</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>294</th>
      <td>Spirou et Fantasio</td>
      <td>QRN sur Bretzelburg</td>
      <td>18</td>
      <td>Greg</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>295</th>
      <td>Spirou et Fantasio</td>
      <td>Panade à Champignac</td>
      <td>19</td>
      <td>Peyo</td>
      <td>Franquin, André</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>296</th>
      <td>Spirou et Fantasio</td>
      <td>Le faiseur d'or</td>
      <td>20</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>297</th>
      <td>Spirou et Fantasio</td>
      <td>Du glucose pour Noémie</td>
      <td>21</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>298</th>
      <td>Spirou et Fantasio</td>
      <td>L'abbaye truquée</td>
      <td>22</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>299</th>
      <td>Spirou et Fantasio</td>
      <td>Tora Torapa</td>
      <td>23</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>300</th>
      <td>Spirou et Fantasio</td>
      <td>Le gri-gri du Niokolo-Koba</td>
      <td>25</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>301</th>
      <td>Spirou et Fantasio</td>
      <td>Du cidre pour les étoiles</td>
      <td>26</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>302</th>
      <td>Spirou et Fantasio</td>
      <td>L'Ankou</td>
      <td>27</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>303</th>
      <td>Spirou et Fantasio</td>
      <td>Kodo le tyran</td>
      <td>28</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>304</th>
      <td>Spirou et Fantasio</td>
      <td>Des haricots partout</td>
      <td>29</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>305</th>
      <td>Spirou et Fantasio</td>
      <td>L'horloger de la comète</td>
      <td>36</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>306</th>
      <td>Spirou et Fantasio</td>
      <td>Le reveil du Z</td>
      <td>37</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>307</th>
      <td>Spirou et Fantasio</td>
      <td>La jeunesse de Spirou</td>
      <td>38</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>308</th>
      <td>Spirou et Fantasio</td>
      <td>Spirou à New-York</td>
      <td>39</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>309</th>
      <td>Spirou et Fantasio</td>
      <td>Spirou à Moscou</td>
      <td>42</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>310</th>
      <td>Spirou et Fantasio</td>
      <td>Intégrale Spirou et Fantasio, Tome 14 - 1984-1987</td>
      <td>14</td>
      <td>Tome</td>
      <td>Janry</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>311</th>
      <td>Spirou et Fantasio</td>
      <td>Intégrale Spirou et Fantasio, Tome 11 - 1976-1979</td>
      <td>11</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>312</th>
      <td>Spirou et Fantasio</td>
      <td>Intégrale Spirou et Fantasio, Tome 10 - 1972-1975</td>
      <td>10</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>313</th>
      <td>Spirou et Fantasio</td>
      <td>Intégrale Spirou et Fantasio, Tome 9 - 1969-1972</td>
      <td>9</td>
      <td>Fournier, Jean-Claude</td>
      <td>Fournier, Jean-Claude</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>314</th>
      <td>Spirou et Fantasio</td>
      <td>Aux sources du Z</td>
      <td>50</td>
      <td>Morvan, Jean-David</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>315</th>
      <td>Spirou par Jijé</td>
      <td>Spirou par Jijé</td>
      <td>NaN</td>
      <td>Jijé</td>
      <td>Jijé</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>316</th>
      <td>Tif et Tondu</td>
      <td>Tif rebondit</td>
      <td>15</td>
      <td>Rosy, Maurice</td>
      <td>Will</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>317</th>
      <td>Tintin</td>
      <td>Tintin et les Picaros</td>
      <td>23</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>318</th>
      <td>Tintin</td>
      <td>Tintin au Tibet</td>
      <td>20</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>319</th>
      <td>Tintin</td>
      <td>Coke en stock</td>
      <td>19</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>320</th>
      <td>Tintin</td>
      <td>L'affaire Tournesol</td>
      <td>18</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>321</th>
      <td>Tintin</td>
      <td>On a marché sur la lune</td>
      <td>17</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>322</th>
      <td>Tintin</td>
      <td>Objectif lune</td>
      <td>16</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>323</th>
      <td>Tintin</td>
      <td>Tintin au pays de l'or noir</td>
      <td>15</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>324</th>
      <td>Tintin</td>
      <td>Le temple du soleil</td>
      <td>14</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>325</th>
      <td>Tintin</td>
      <td>Les 7 boules de cristal</td>
      <td>13</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>326</th>
      <td>Tintin</td>
      <td>Le trésor de Rackham Le Rouge</td>
      <td>12</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>327</th>
      <td>Tintin</td>
      <td>Le secret de La Licorne</td>
      <td>11</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>328</th>
      <td>Tintin</td>
      <td>L'étoile mystérieuse</td>
      <td>10</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>329</th>
      <td>Tintin</td>
      <td>Le crabe aux pinces d'or</td>
      <td>9</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>330</th>
      <td>Tintin</td>
      <td>Le crabe aux pinces d'or</td>
      <td>9</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>331</th>
      <td>Tintin</td>
      <td>Le sceptre d'Ottokar</td>
      <td>8</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>332</th>
      <td>Tintin</td>
      <td>L'île noire</td>
      <td>7</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>333</th>
      <td>Tintin</td>
      <td>L'oreille cassée</td>
      <td>6</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>334</th>
      <td>Tintin</td>
      <td>Le lotus bleu</td>
      <td>5</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>335</th>
      <td>Tintin</td>
      <td>Les cigares du pharaon</td>
      <td>4</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>336</th>
      <td>Tintin</td>
      <td>Tintin au Congo</td>
      <td>2</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>337</th>
      <td>Tintin</td>
      <td>Tintin au pays des Soviets</td>
      <td>1</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>338</th>
      <td>Tintin</td>
      <td>Tintin en Amérique</td>
      <td>3</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>339</th>
      <td>Tintin</td>
      <td>Vol 714 pour Sydney</td>
      <td>22</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>340</th>
      <td>Tintin</td>
      <td>Les bijoux de la Castafiore</td>
      <td>21</td>
      <td>Hergé</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>341</th>
      <td>Tintin (Albums Cinéma)</td>
      <td>Tintin et le lac aux requins</td>
      <td>1</td>
      <td>Greg</td>
      <td>Hergé</td>
      <td>Casterman</td>
    </tr>
    <tr>
      <th>342</th>
      <td>Titeuf</td>
      <td>C'est pô juste...</td>
      <td>4</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>343</th>
      <td>Titeuf</td>
      <td>A fond le slip !</td>
      <td>15</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>344</th>
      <td>Titeuf</td>
      <td>A la folie !</td>
      <td>13</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>345</th>
      <td>Titeuf</td>
      <td>Le sens de la vie</td>
      <td>12</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>346</th>
      <td>Titeuf</td>
      <td>Ça épate les filles...</td>
      <td>3</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>347</th>
      <td>Titeuf</td>
      <td>Lâchez-moi le slip !</td>
      <td>8</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>348</th>
      <td>Titeuf</td>
      <td>Le miracle de la vie</td>
      <td>7</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>349</th>
      <td>Titeuf</td>
      <td>Nadia se marie</td>
      <td>10</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>350</th>
      <td>Titeuf</td>
      <td>Tchô, monde cruel</td>
      <td>6</td>
      <td>Zep</td>
      <td>Zep</td>
      <td>Glénat</td>
    </tr>
    <tr>
      <th>351</th>
      <td>Tout Rahan</td>
      <td>Tout Rahan, Tome 13</td>
      <td>13</td>
      <td>Lécureux, Roger</td>
      <td>Chéret, André</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>352</th>
      <td>Tout Rahan</td>
      <td>Tout Rahan, Tome 10</td>
      <td>10</td>
      <td>Lécureux, Roger</td>
      <td>Chéret, André</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>353</th>
      <td>Tout Rahan</td>
      <td>Tout Rahan, Tome 12</td>
      <td>12</td>
      <td>Lécureux, Roger</td>
      <td>Chéret, André</td>
      <td>Soleil Productions</td>
    </tr>
    <tr>
      <th>354</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>La fille de Vercingétorix</td>
      <td>38</td>
      <td>Ferry, Jean-Yves</td>
      <td>Conrad, Didier</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>355</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Les lauriers de César</td>
      <td>18</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>356</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le devin</td>
      <td>19</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>357</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix le Gaulois</td>
      <td>1</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>358</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le cadeau de César</td>
      <td>21</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>359</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>La grande traversée</td>
      <td>22</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>360</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Obélix et compagnie</td>
      <td>23</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>361</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix chez les Belges</td>
      <td>24</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>362</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le grand fossé</td>
      <td>25</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>363</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>L'odyssée d'Astérix</td>
      <td>26</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>364</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix en Corse</td>
      <td>20</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>365</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le papyrus de César</td>
      <td>36</td>
      <td>Ferri, Jean-Yves</td>
      <td>Conrad, Didier</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>366</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le domaine des dieux</td>
      <td>17</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>367</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix chez les Pictes</td>
      <td>35</td>
      <td>Ferri, Jean-Yves</td>
      <td>Conrad, Didier</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>368</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>L'anniversaire d'Astérix &amp; Obélix - Le livre d'or</td>
      <td>34</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>369</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le ciel lui tombe sur la tête</td>
      <td>33</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>370</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et la rentrée gauloise</td>
      <td>32</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>371</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix chez Rahazade</td>
      <td>28</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>372</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et Latraviata</td>
      <td>31</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>373</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>La galère d'Obélix</td>
      <td>30</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>374</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>La serpe d'or</td>
      <td>2</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>375</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et les Goths</td>
      <td>3</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>376</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et la Transitalique</td>
      <td>37</td>
      <td>Ferri, Jean-Yves</td>
      <td>Conrad, Didier</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>377</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix gladiateur</td>
      <td>4</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>378</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le tour de Gaule d'Astérix</td>
      <td>5</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>379</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le fils d'Astérix</td>
      <td>27</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>380</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le combat des chefs</td>
      <td>7</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>381</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix chez les Helvètes</td>
      <td>16</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>382</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>La zizanie</td>
      <td>15</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>383</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix en Hispanie</td>
      <td>14</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>384</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et le chaudron</td>
      <td>13</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>385</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>La rose et le glaive</td>
      <td>29</td>
      <td>Uderzo, Albert</td>
      <td>Uderzo, Albert</td>
      <td>Albert-René</td>
    </tr>
    <tr>
      <th>386</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et Cléopâtre</td>
      <td>6</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>387</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Le bouclier arverne</td>
      <td>11</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>388</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix aux jeux olympiques</td>
      <td>12</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>389</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix et les Normands</td>
      <td>9</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>390</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix chez les Bretons</td>
      <td>8</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>391</th>
      <td>Une aventure d'Astérix le Gaulois</td>
      <td>Astérix légionnaire</td>
      <td>10</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Hachette</td>
    </tr>
    <tr>
      <th>392</th>
      <td>Une aventure d'Astérix le Gaulois  (Albums de film)</td>
      <td>Les 12 travaux d'Astérix (le film)</td>
      <td>1</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>Dargaud</td>
    </tr>
    <tr>
      <th>393</th>
      <td>Une aventure d'Astérix le Gaulois  (Ed. Rouge et Or)</td>
      <td>La course de chars</td>
      <td>3</td>
      <td>Goscinny, René</td>
      <td>Uderzo, Albert</td>
      <td>GP Rouge et or</td>
    </tr>
    <tr>
      <th>394</th>
      <td>Vasco</td>
      <td>L'or et le fer</td>
      <td>1</td>
      <td>Chaillet, Gilles</td>
      <td>Chaillet, Gilles</td>
      <td>Le Lombard</td>
    </tr>
    <tr>
      <th>395</th>
      <td>Yoko Tsuno</td>
      <td>Les exilés de Kifa</td>
      <td>18</td>
      <td>Roger Leloup</td>
      <td>Roger Leloup</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>396</th>
      <td>Yoko Tsuno</td>
      <td>Les 3 soleils de Vinéa</td>
      <td>6</td>
      <td>Roger Leloup</td>
      <td>Roger Leloup</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>397</th>
      <td>Yoko Tsuno</td>
      <td>La forge de Vulcain</td>
      <td>3</td>
      <td>Roger Leloup</td>
      <td>Roger Leloup</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>398</th>
      <td>Yoko Tsuno</td>
      <td>L'orgue du diable</td>
      <td>2</td>
      <td>Roger Leloup</td>
      <td>Roger Leloup</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>399</th>
      <td>Yoko Tsuno</td>
      <td>La spirale du temps</td>
      <td>11</td>
      <td>Roger Leloup</td>
      <td>Roger Leloup</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>400</th>
      <td>Zombillénium</td>
      <td>Ressources humaines</td>
      <td>2</td>
      <td>De Pins, Arthur</td>
      <td>De Pins, Arthur</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>401</th>
      <td>Zombillénium</td>
      <td>Gretchen</td>
      <td>1</td>
      <td>De Pins, Arthur</td>
      <td>De Pins, Arthur</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>402</th>
      <td>Zorglub</td>
      <td>L'apprenti méchant</td>
      <td>2</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
    <tr>
      <th>403</th>
      <td>Zorglub</td>
      <td>La fille du Z</td>
      <td>1</td>
      <td>Munuera, José-Luis</td>
      <td>Munuera, José-Luis</td>
      <td>Dupuis</td>
    </tr>
  </tbody>
</table>